// appends a pseudo-element after an element and clears the floats to ensure we have height again
@mixin clearfix {
    &::after {
        content: ""; // required to actually display the clearfix element
        display: table;
        clear: both; // clears float left and float right
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
