.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    // Prevents the video from overflowing on the width
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        // Element (video) will fill the parent element while maintaining aspect ratio
        object-fit: cover;
    }
}
